ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page17925432.html

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^contact$ page17925432.html [NC]
RewriteRule ^contact/$ page17925432.html [NC]

RewriteRule ^team$ page17926911.html [NC]
RewriteRule ^team/$ page17926911.html [NC]

RewriteRule ^press$ page17927800.html [NC]
RewriteRule ^press/$ page17927800.html [NC]

RewriteRule ^purpose$ page17928579.html [NC]
RewriteRule ^purpose/$ page17928579.html [NC]

RewriteRule ^join-team$ page17929818.html [NC]
RewriteRule ^join-team/$ page17929818.html [NC]

RewriteRule ^icebreaker-questions$ page17959309.html [NC]
RewriteRule ^icebreaker-questions/$ page17959309.html [NC]

RewriteRule ^enterprise$ page18004266.html [NC]
RewriteRule ^enterprise/$ page18004266.html [NC]

RewriteRule ^integrations$ page18013185.html [NC]
RewriteRule ^integrations/$ page18013185.html [NC]

RewriteRule ^planning-poker-guide$ page18020151.html [NC]
RewriteRule ^planning-poker-guide/$ page18020151.html [NC]

RewriteRule ^lp/chpokify-for-agile-teams$ page18199464.html [NC]
RewriteRule ^lp/chpokify-for-agile-teams/$ page18199464.html [NC]

RewriteRule ^save-sprint-planning-time$ page18683845.html [NC]
RewriteRule ^save-sprint-planning-time/$ page18683845.html [NC]

RewriteRule ^ru/save-sprint-planning-time$ page24420145.html [NC]
RewriteRule ^ru/save-sprint-planning-time/$ page24420145.html [NC]

RewriteRule ^retro$ page22997808.html [NC]
RewriteRule ^retro/$ page22997808.html [NC]

RewriteRule ^agile-ecosystem$ page23325595.html [NC]
RewriteRule ^agile-ecosystem/$ page23325595.html [NC]

RewriteRule ^ru/agile-ecosystem$ page24814693.html [NC]
RewriteRule ^ru/agile-ecosystem/$ page24814693.html [NC]

RewriteRule ^events$ page25364648.html [NC]
RewriteRule ^events/$ page25364648.html [NC]

RewriteRule ^events/agile-cyprus-meetup$ page25365448.html [NC]
RewriteRule ^events/agile-cyprus-meetup/$ page25365448.html [NC]

RewriteRule ^members/ ma_start.html [NC]

RewriteRule ^favicon.ico$ https://static.tildacdn.com/tild3662-3831-4231-b763-393239366634/icon.ico [R=302,L]

